 
@font-face { /** intégration font **/
    font-family: "Hollow";
    src: local("Trajan-Pro-Regular"), url("../Trajan Pro Regular/HollowKnight.ttf");
}

body { /**  **/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Hollow;
    height: 100vh;
    margin: 0;
}

main { /** bloque taille du site a celle de l'écrans **/
    position: fixed;
    width: 100%;
    height: 100%;
}

/******************************************************************/
/**                définitionn de style global                   **/
/******************************************************************/

a { /** tout texte en blanc **/
    text-decoration: none;
    color: white;
    font-size: 22px;
}

div { /** toute division en flex **/
    align-items: center;
    display: flex;
    flex-direction: column;
}

aside {
    display: flex;
    justify-content: space-around;
}

h1 { /** apparance général des titres **/
    font-size: 120px;
    padding: 0;
    margin: 0;
}

h2 { /** apparance général des titres secondaire **/
    font-size: 35px;
    padding: 0;
    margin: 0;
}

button { /** apparance général des boutons **/
    text-decoration: none;
    color: white;
    font-family: Hollow;
    font-size: 22px;
    border: none;
    background: none;
}

/** bouton animation **/
section>img {
    width: 22px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
}

section .left {
    transform: rotate(180deg);
}

section:hover img{
    opacity: 100%;
}

/********************/

/** titre haut de page secondiare **/
.titre>h2 {
    padding-top: 10vh;
}

.titre>div>img {
    position: absolute;
}

.titre>div {
    justify-content: center;
    margin: 35px 0px;
}

/********************/

.retour { /** bouton retour de fin de page **/
    position: absolute;
    bottom: 6vh;
}


/******************************************************************/
/**                        page selection                        **/
/******************************************************************/

.selection {
    z-index: 10;
}

.selection>div>img:nth-child(1) {
    width: 30%;
}

.selection>div>img:nth-child(4) {
    width: 45%;
}

.selection div {
    margin-top: 85px;
}

/******************************************************************/
/**                      page qui suis je                        **/
/******************************************************************/

.qui_je_suis {
    z-index: 0;
}

.qui_je_suis aside {
    width: 720px;
}

.pp {
    width: 145px;
}

.qui_je_suis>div>aside>div>img {
    position: absolute;
    border-radius: 150px;
}

.qui_je_suis>div>aside>div {
    position: relative;
}

.qui_je_suis>div>aside>div>img:nth-child(2) {
    bottom: 20px;
}

/******************************************************************/
/**                      page mon parcours                       **/
/******************************************************************/

.mon_parcours {
    z-index: 0;
}

.mon_parcours aside {
    width: 720px;
    margin-bottom: 3vh;
}

.mon_parcours aside>div {
    width: 50%;
    position: relative;
}

.mon_parcours aside>div>ul {
    position:relative;
    left: 0;
    margin: 0;
}

.mon_parcours ul p {
    margin: 0px 3px;
}

/******************************************************************/
/**                    page mes compétances                      **/
/******************************************************************/

.mes_competances>div:nth-child(2) {
    margin-top: 60px;
}

.mes_competances>div:nth-child(2)>aside {
    width: 720px;
}

.mes_competances aside {
    align-items: center;
}

.mes_competances aside p {
    width: 118px;
}

.mes_competances aside img {
    height: 52px;
}


/******************************************************************/
/**                      page mes projets                        **/
/******************************************************************/


.mes_projets>.titre h2 {
    padding-top: 12vh;
}

.mes_projets>div:nth-child(2) {
    margin-top: 4vh;
}

.projet>div {
    position: relative;
}

.imgProjet {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 98px;  
    width: 1020px;
}

.imgProjet>img {
    z-index: -1;
}

.projet>div>aside {
    justify-content: left;
    position: absolute;
    margin-left: 175px;
    top: 0;
    left: 0;
    height: 98px;
    width: 1020px;
}

.projet>div>aside>div {
    align-items: baseline;
}

.projet>div>aside>p {
    width: 170px;
}

.buttonProjet {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

.buttonProjet>img {
    object-fit: contain;
    width: 44px;
}


/******************************************************************/
/**                   présentation projets                       **/
/******************************************************************/

.pageProjet>div {
    margin-top: 8vh;
}

.pageProjet .contenueProjet {
    position: absolute;
    width: 1230px;
    height: 675px;
    margin: 30px 0px;
}

.pageProjet aside {
    width: 100%;
    height: calc(100% - 44px);
}

.pageProjet aside h1 {
    position: relative;
    right: 20px;
    font-size: 25px;
}

.pageProjet aside div {
    width: 50%;
    height: 100%;
    justify-content: space-between;
}

.pageProjet aside div ul {
    margin-bottom: 75px;
}

.pageProjet aside div p {
    margin: 150px 15px 16px 75px;
    text-align: center;
}

.pageProjet aside div:nth-child(1) li {
    list-style: none;
}

.pageProjet aside div:nth-child(1) {
    align-items: normal;
}

.pageProjet a {
    font-size: 14px;
}

.pageProjet aside div img {
    margin-top: 95px;
    border: solid white 2px;
    width: 80%;
}